p {
    font-size: larger;
    text-indent: 5em;
    font-family: fantasy;
}

.timeData {
    display: flex;
    justify-content: center;

  }

.tempData {
    display: flex;
    justify-content: center;
    font-size: 110%;
    color: lightcoral;
}
